@import '../../styles/variables.scss';

.navigation {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: $blocks-color;
    box-sizing: border-box;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.navigation__item {
    text-transform: uppercase;
    margin-right: 25px;

    &:nth-last-of-type(1) {
        margin-right: 0;
    }
}

.navigation__link {
    text-decoration: none;
    color: $navigation-color;
    font-weight: 400;
    font-size: 17px;
}