@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$primary-color: #56CCF2;

$font-family: 'Roboto', sans-serif;
$background-color: #D9D9D9;
$blocks-color: #fff;

$text-color: #000;
$active-link-color: #2F80ED;

$input-color-active: #56CCF2;
$active-color: #56CCF2; 

$input-color: #fff;
$input-border-color: #BDBDBD;
$input-placeholder-color: #8D8D8D;
$button-text-color: #fff;
$button-hover: gray;

$pagination-color: #fff;
$pagination-color-hover: #aae6fa;
$pagination-color-active: #56CCF2; 

$navigation-color: #8D8D8D;