@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$font-family: 'Roboto', sans-serif;
$background-color: #D9D9D9;
$blocks-color: #fff;

$text-color: #000;
$active-link-color: #2F80ED;

$navigation-color: #8D8D8D;