@import '../../styles/variables.scss';

.cards {
    width: 100%;
    grid-area: cd;
}

.cards__rendering-control {
    display: flex;
    justify-content: space-between;
}

// Пагинация
.cards__pagination {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cards__page {
    margin-right: 15px;
    &:nth-last-of-type(1) {
        margin-right: 0;
    }
}

.cards__page_button {
    border:0;
    cursor: pointer;

    width: 35px;
    height: 35px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1;
    font-size: 16px;

    background-color: $pagination-color;
    transition: .1s;

    &:hover {
        transition: .2s;
        background-color: $pagination-color-hover;
    }

    &:focus {
        transition: .2s;
        background-color: $pagination-color-active;
    }
}

//Сортировка выдачи
.cards__sort-text {
    margin-right: 10px;;
}

.cards__sort-list {
    width: 200px;
    padding: 8px;
    border: 1px solid $input-border-color;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transition: .1s;
    box-sizing: content-box;

    &:hover {
        transition: .2s;
        border: 1px solid $active-color;
    }
}

.cards__sort-item {
    height: 20px;
    margin: 5px;
    font-size: 14px;
}

// Список карточек
.cards__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

.cards__item {
    width: 100%;
    max-height: 200px;
    background-color: $blocks-color;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    box-sizing: border-box;
}

.cards__wrap {
    display: flex;
}

.cards__img-block {
    position: relative;
    background-color: gray;
    width: 224px;
    height: 168px;
    margin-right: 20px;

    overflow: hidden;
    display: flex;
    align-items: stretch;
    
    &::after{
        content: 'Image not found';
        position: absolute;
        width: max-content;
        top: 40%;
        color: $text-color;
        left: 20%;
    }
}

.cards__img {
    width: 100%;
    height: 100%;
}

.cards__description-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    width: 50%;
    align-items: flex-start;
    overflow: hidden;
}

.cards__text-wrap {
    max-height: 80%;
    overflow: hidden;
    margin-bottom: 15px;
}

.cards__title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}

.cards__description {
    color: $description-color;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
    margin: 0;
}

.cards__params {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cards__params-item {
    width: max-content;
    padding: 5px 8px;
    margin-right: 16px;

    font-size: 12px;
    font-weight: 300;
    color: $card-params-text-color;
    background-color: $card-params-color;

    &:nth-last-of-type(1) {
        margin-right: 0;
    }
}

.cards__price {
    white-space: nowrap;
    margin: 0;
}





