@import '../../styles/variables.scss';

.header{
    width: 100%;
    padding: 30px 16px;
    margin-bottom: 20px;

    box-sizing: border-box;

    background-color: $white;

    font-size: 20px;
    font-weight: 500;
    color:$black;

    @include mediaTablet {
        padding: 20px 16px;
    }
}